*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color:hsl(201, 11%, 66%);
}

h1, h2, h3{
    color: hsl(210, 10%, 33%);
}
header{
    background-image: url(/images/bg-header-desktop.png);
    background-position: center;
    background-size: contain;
    display: grid;
    place-content: center;
    height: 270px;
    
}
section{
    margin-top: 30px;
    display: grid;
    place-content: center;
}
.links-1{
    margin-top: 35px;
    text-align: center;
}
section p{
    margin-top: 20px;
    line-height: 1.5;
    text-align: center;
}
section h1{
    font-size: 35px;
}
.green, .blue{
    padding: 10px 20px;
    border: 2px solid;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
}
.green{
    background-color: hsl(171, 66%, 44%);
}
.green:hover{
    box-shadow: hsl(171, 66%, 44%) 0px 18px 35px 0px;
}
.blue:hover{
    box-shadow:hsl(233, 100%, 69%) 0px 18px 35px 0px ;
}
.blue{
    background-color: hsl(233, 100%, 69%);
}
.main-1{
    display: grid;
    place-content: center;
    text-align: center;
    margin-top: 130px;
}
main p{
    margin-top: 15px;
    line-height: 1.5;
}
main h2{
    font-size: 28px;
}
.grid-1{
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
     justify-items: center; 
    align-items: center;
}
.grid-cont div{
    margin-top: 60px;
}
.grid-1 h3{
    font-size: 22px;
}
.grid-cont p{
    line-height: 1.5;
}
.main-2{
    display: grid;
    place-content: center;
    margin-top: 160px;
    text-align: center;
}
.main-2 h3{
    font-size: 28px;
}
.main-2 p{
    line-height: 1.5;
} 
.img-2{
    display: grid;
    place-content: center;
    margin-top: 70px;
}
.main-3{
    display: grid;
    place-content: center;
    margin-top: 50px;
    text-align: center;
}
.main-3 h3{
    font-size: 28px;
}
.grid-2{
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    max-width: 1150px;
        margin: 50px auto;
}
.grid-2 svg{
    margin-bottom: 20px;
}
.grid-2 h3{
    font-size: 20px;
}
.grid-2 p{
    line-height: 1.5;
    margin-top: 15px;
}
.grid-3{
    margin-top: 60px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1150px;
    margin: 150px auto;
}
.main-4{
    display: grid;
    place-content: center;
    text-align: center;
}
.main-4 h3{
    font-size: 28px;
}
.main-4 p{
    line-height: 1.5;
    font-size: 18px;
}
footer{
    margin-top: 100px;
    background-color: hsla(201, 11%, 66%, 0.5);
}
.grid-5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    align-items: center;
    
}
.grid-5 p{
    font-size: 16px;
    text-align: start;
    color: hsl(210, 10%, 33%);
}
.grid-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.flex-svg{
    justify-self: flex-end;
    margin-right: 50px;
}
.flex .hi{
    margin-right: 20px;
}
.hello{
    display: grid;
margin-top: 20px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}
.hello p{
    color: black;
    font-size: 17px;
}
.hello a{
    text-decoration: none;
}
 @media(max-width: 1140px){
    .grid-1 img{
        width: 90%;
    }
        .img-2 img {
            width: 90%;
            display: block;
            margin: auto;
        }
} 
 @media(max-width: 950px){
     .grid-2{
        max-width: 850px;
        margin: 50px auto;
    }
    .grid-3{
        max-width: 930px;
        margin: 150px auto;
    }
}  
@media(max-width: 853px){
header{
    display: grid;
    place-content: center;
    background-image: url(/images/bg-header-mobile.png);
    background-position: center;
        background-size: contain;
}
section {
    text-align: center;

}
.wrapper {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}
.links-1{
    display: grid;
    grid-template-columns: 1fr;
}
.links-1 a{
    margin-top: 20px;
    font-size: 20px;
}
.grid-1{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.grid-cont{
    margin-top: 100px;
}
.img-2 img{
    width: 70%;
    display: block;
    margin: auto;
}
.grid-1 img{
    width: 70%;
}
.grid-2{
    grid-template-columns: 1fr;
}
.grid-2 div{
    margin-top: 60px;
}
.grid-3{
    grid-template-columns: 1fr;
    gap: 80px;
}
.grid-5{
    grid-template-columns: 1fr;
    gap: 15px;
}
.grid-5 p{
    text-align: center;
    font-size: 25px;
}
.grid-4{
    grid-template-columns: 1fr;
}
.flex{
    grid-template-columns: 1fr;
    place-content: center;
}
.flex-svg {
    justify-self: center;
    margin-top: 50px;
    margin-left: 95px;
}
.hello{
    grid-template-columns: 1fr;
    margin-top: 60px;
}
.hello p{
    margin-top: 20px;
    font-size: 20px;

}
}
@media(max-width: 600px){
    main{
        max-width: 470px;
        margin: auto;
    }
     section{
        max-width: 470px;
            margin: auto;
    } 
}
