*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primarycolor:blue
}
body{
    line-height: 1.6;
}
p{
    margin: 10px 0;
}
.header{
    background-color: var(--primarycolor);
    height: 50px;
    
}
.container{
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.navbar a{
    color: white;
    text-decoration: none; 
   
}
.t-man{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
ul{
    list-style-type: none;
    
}
li{
    display: inline;
    margin: 0 30px;
    
}
.navbar a:hover{
    border-bottom: 2px solid white;
padding-bottom: 5px;
}
.section{
    height: 400px;
    background: var(--primarycolor);
    color: white;
    position: relative;
}
.section h1{
font-size: 35px;
text-transform: capitalize;

}
.container.grid{
    grid-template-columns: 55% 45%;
    gap: 30px;
    
}
.section-text{
    animation: slideleft 1s ease-in;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.section-form{
background-color: white;
border-radius: 10px;
box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.2);
padding: 40px;
margin: 10px;
color: black;
position: relative;
top: 60px;
height: 350px;
width: 400px;
z-index: 100;
justify-self: flex-end;
animation: slideright 1s ease-in;
}

.section-form .form-control{
    margin: 30px 0;
}
.section-form input[type='text'],
.section-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 16px;
    padding: 3px;
}
.section-form input:focus{
    outline: none  ;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primarycolor);
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
}
.btn-read{
    background-color: transparent;
    border: 1px white solid;
    text-decoration: none;
    color: white;
}
.btn:hover{
    transform: scale(.98);
}

.section::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
}
img{
height: 35rem;
width: 23rem;
margin-right: 10px;

}
.picture{
    margin-top: 160px;
}
.container.shoot{
    display: grid;
grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    animation: slidedown 1s ease-in; 
}
.lead{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    text-transform: capitalize;
}
.lastly{
    background-color: #002240;
    margin-top: 50px;
    color: white;
    height: 150px;
}
div p{
margin-top: 5px;
} 
nav a{
    color: white;
    text-decoration: none;
    
}
nav li{
    display: block;
    margin: 15px 0;
}
@keyframes slideleft {
     0%{
         transform: translateX(-100%);
     }
     100%{
         transform: translateY(0);
     }
     
}
@keyframes slideright {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes slidetop {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slidedown {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateX(0);
    }
    }  
@media(max-width: 1150px) {
    .container.grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .section{
        height: auto;
    }
    .section-text{
        text-align: center;
        margin-top: 70px;
        animation: slidetop 1s ease-in;
    }
    .section-form{
        justify-self: center;
        animation: slidedown 1s ease-in;
    }
    .container.shoot{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
        animation: none;
    }
    
    .container.grid.end{
        grid-template-columns: repeat(2, 1fr);
        height: auto; 
    }
nav li{
    display: inline;
    padding: 5px;
} 
}
@media(max-width: 500px) {
.container{
    flex-direction: column;
}
.header{
    height: auto;
}
.navbar ul{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.navbar a:hover{
    border-bottom: 2px solid white;
padding-bottom: 5px;
}
}

